*.[oa]
*~
.emacs_zsd
.qmake.stash
Graphic*
Makefile*
TODO
commit
dpi-schlmozzle
fonts/cmmi10.ttf
fonts/cmsy10.ttf
fonts/cmzsd10.sfd
graph-ic
j-stash
misc-stuff
moc_*
qrc_application.cpp
ui_mainwindow.h
ui_settingsdialog.h
